virenv/
*.sqlite3
db.sqlite3
medapp/migrations
media
.DS_Store
*.pyc
staticfiles/
uploads/
local_settings.py
.anvil/*
__pycache__
.Python
/bin
/lib
/src
/include
.coverage
.venv
static/media
.idea/*
.vscode
.cache/
node_modules/
static/build/
static/local/
static/rev-manifest.json
temp/
migrations/
mediport.log
