{% extends 'base/base.html' %}
{% load staticfiles %}


{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        label.required::after {
    content: ' *';
    color: red;
}

 .file-upload-wrapper {
	 position: relative;
	 width: 100%;
	 height: 60px;
     border: 1.4px solid grey;
}
 .file-upload-wrapper:after {
	 content: attr(data-text);
	 font-size: 18px;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background: #fff;
	 padding: 10px 15px;
	 display: block;
	 width: 100%;
	 pointer-events: none;
	 z-index: 20;
	 height: 40px;
	 line-height: 40px;
	 color: #999;
	 font-weight: 300;
}
 .file-upload-wrapper:before {
	 content: 'Upload';
	 position: absolute;
	 top: 0;
	 right: 0;
	 display: inline-block;
	 height: 58px;
	 background: #007bff;
	 color: #fff;
	 font-weight: 700;
	 z-index: 25;
	 font-size: 16px;
	 line-height: 60px;
	 padding: 0 15px;
	 text-transform: uppercase;
	 pointer-events: none;
}
 .file-upload-wrapper:hover:before {
	 background: #007bff;
}
 .file-upload-wrapper input {
	 opacity: 0;
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 z-index: 99;
	 height: 40px;
	 margin: 0;
	 padding: 0;
	 display: block;
	 cursor: pointer;
	 width: 100%;
}
.file {
  visibility: hidden;
  position: absolute;
}
    .btn.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  outline: none;
}
.btn.btn-primary:hover {
  opacity: 0.8;
}
.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: #007bff;
  border-color: #007bff;
}
#loading{position:absolute;top:35%;left:45%;margin-left:-50px;margin-top:0}

/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */

/* =Elements style
---------------------- */
.load-wrapp {
    width: 100%;
    height: 100px;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}
/* =Animate the stuff
------------------------ */
.load-1 .line:nth-last-child(1) {animation: loadingA 1.5s 1s infinite;}
.load-1 .line:nth-last-child(2) {animation: loadingA 1.5s .5s infinite;}
.load-1 .line:nth-last-child(3) {animation: loadingA 1.5s 0s infinite;}

    @keyframes loadingA {
    0 {height: 15px;}
    50% {height: 35px;}
    100% {height: 15px;}
}

@keyframes loadingB {
    0 {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}

@keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}

@keyframes loadingD {
    0 {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingE {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes loadingF {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}

@keyframes loadingH {
    0% {width: 15px;}
    50% {width: 35px; padding: 4px;}
    100% {width: 15px;}
}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}

@keyframes loadingJ {
  0%,100% {transform: translate(0,0);}

  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}
    </style>
    <div id="fullcontent">
    <section class="home-slider owl-carousel" id="formcontent">

      <div class="slider-item" style="background-image: url('{% static 'img/bakimg1.jpg' %}');">
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h2>Complete Blood Profile</h2>
            </div>
          </div>
        </div>

      </div>
    <div class="slider-item" style="background-image: url('{% static 'img/bakimg2.jpg' %}');">
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 element-animate">
            </div>
          </div>
        </div>

      </div>

    </section>
    <section class="section">
    <div class="container">
<center><h3>COMPLETE BLOOD PROFILE</h3></center>
        <br>  <br>  <br>  <br>
     <center>
            <div class="container">


  <form id="bloodform" class="form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
    <input type="file" name="report" class="file">
    <div class="input-group col-xs-12">
      <span class="input-group-addon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
      <input id="bloodreport" type="text" class="form-control input-lg" disabled placeholder="Upload Report (.pdf)">
      <span class="input-group-btn">
        <button class="browse btn btn-primary input-lg" type="button"> Browse</button>
      </span>
    </div>
  </div>

      <br>
       <div class="p-3 mb-4">

          <div class="text-center">
            <input id="submit" style="width: 15%" type="submit" class="btn btn-primary">

          </div>
       </div>
  </form>
</div>
     </center>
    </div>
    </section>
</div>

    <div id="loading" style="display: none">
<div class="load-wrapp">
            <div class="load-1">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    <div id="loadertext">
       <center> <p>Preparing your Report!</p></center>
    </div>
    </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
$(document).on('click', '.browse', function(){
  var file = $(this).parent().parent().parent().find('.file');
  file.trigger('click');
});
$(document).on('change', '.file', function(){
  $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
});
    </script>
    <script>
    $(document).on('submit', '#bloodform',function(e) {
        document.getElementById("fullcontent").style.display = 'none';
        document.getElementById("header").style.display = 'none';
        document.getElementById("footer").style.display = 'none';
        document.getElementById("loading").style.display = 'block';
         $("#loadertext").delay(5000).fadeIn(100);

    })

    </script>
<script>
  $(window).load(function() {
    $('#loading').hide();
  });
</script>
{% endblock %}
